#projects {
  padding-top: 150px;
  margin-left: 10%;
  color: #ffffff;
}
.projects--title {
  font-size: 64px;
}

.projects--cardShow {
  margin-top: 96px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 100px;
}
