.header {
  height: 137px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}
.header--menu {
  font-size: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: space-around;
}
.header--menuItems {
  padding-left: 90px;
}
.header--iconsItem {
  padding-left: 30px;
}
